@import url('https://fonts.googleapis.com/css?family=Macondo');

body{
  color: #333333;
  font-family: sans-serif;;
 }

 /*page*/
#pageBodyMain{
  width: 720px;
  background-color: #66CCFF;
  float: left;
}

#pageBodySub{
  width: 220px;
  background-color: #99FF66;
  float: right;
}


 /*ページヘッダー*/
 #siteTitle{
   font-size: 30px;
   line-height:1.2;
   margin-bottom: 0;
   font-family: 'Macondo', cursive;
 }

 #catchcopy{
   font-size: 12px;
   line-height: 1.5;
   margin-top: 5px;
 }

/*ページフッター*/
#copyright #pageFoot small{
  font-size: 12px;
  line-height: 1.5;

}

#pageFoot{
  border-top: solid 1px #CCCCCC;
  margin-top: 15px;
  clear: both;
}

p{
  font-size:14px;
  line-height: 1.429;
 }

/*リスト*/
ul li{
  font-size: 14px;
  list-style-type:square;
  line-height: 1.429;
}

/*表*/
table {
  font-size:14px;
  border:1px solid #333333;
  border-collapse: collapse;
  width:100%;
  line-height: 1.429;
}

table th, table td{
  border:1px solid #333333;
  padding:5px 10px;
}

table th{
  background-color: #EEEEEE;
  text-align:left;
}

table caption{
  text-align:left;
  font-weight: bold;
}


/*画像キャプション*/
figcaption{
  font-size: 12px;
}

/*見出し*/
.pageTitle{
  font-size: 26px;
  background-color: #f2F2E5;
  padding: 5px 15px;
  line-height: 1.231;
 }

.heading-typeA{
  font-size: 18px;
  color:#349FA6;
  border-bottom: solid 1px #349FA6;
  padding: 5px;
  line-height: 1.333;
 }

.heading-typeB{
  font-size: 16px;
  border-left:solid 5px #E3E4D9;
  padding-left: 10px;
  line-height: 1.375;

 }

.heading-typeC{
  font-size: 14px;
  line-height: 1.429;
 }

.articleDetailHead{
  border-bottom:solid 1px #CCCCCC;
  margin-bottom:30px;
  padding-bottom: 15px;
}

.articleDetailFoot{
  margin-top:30px;
  padding-top: 15px;
}

.articleDetailBody section{
  margin:30px 0px;


.creditUnit{
  padding:10px;
  border:solid 1px #CCCCCC;
}

.cresitUnit p{
  font-size: 12px;
  line-height:1.5;
}
